<a href="https://colab.research.google.com/github/easydong02/Year-Dream/blob/main/Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Types

### 이번 실습에서는 다음 내용들을 배웁니다.


- 프로그래밍 언어에서는 변수(Variable)에서 데이터를 저장/관리 하며 변수에 대한 개념을 통해 데이터를 사용할 수 있다.
> "변수" 라는 개념을 통해 데이터를 사용할 수 있다.


- data type을 배울 중요한 포인트는 어떤 연산을 사용할 수 있는지와 **연산결과가 어떤 의미인지**를 알아야한다.
> "Hello" + "World" = ?

### 변수(Variable)이란?

- 변수는 메모리에 데이터를 저장하기 위한 공간을 가리키는 말이며, 컴퓨터와 프로그래밍 언어 사용자간의 약속이다.
> a : 컴퓨터와 사용자가 인식하는 특정 데이터를 저장하고 있는 공간이고, 공간의 이름을 a라고 한다.

- 변수는 일종의 닉네임으로, 실제 물리적인 메모리 주소공간을 가리킨다.
> 사용자는 변수의 이름으로 데이터를 인식하고, 컴퓨터는 변수의 주소로 데이터를 인식합니다.

- 변수에 데이터를 저장할 때는 <kbd>=</kbd>를 사용한다. 이 때 <kbd>=</kbd>를 assignment operator라고 부른다.
> a = 10 (a라는 공간에, 10이라는 데이터를 할당해주세요.)




<b>(OPTIONAL)</b> a = 10을 예로 들었을 때, =을 기준으로 왼쪽을 lvalue라고 하며 실제 메모리 주소를 의미하고, =을 기준으로 오른쪽을 rvalue고 하며 실제 데이터(또는 값)을 의미한다.

In [1]:
# 변수 a에 10이라는 정수 데이터를 할당(assign)한다.
A = 10

In [3]:
# a라는 변수가 실제 메모리에서 저장되어 있는 위치.(메모리 주소)
id(A)

93946792143648

### Q. 왜 data type은 여러가지 일까?

- 다음 질문에 대해 생각해보자.


> Q1. 컴퓨터는 정수와 실수를 어떻게 인식할까? (어떻게 구분할까)

> Q2. 100개의 숫자를 한꺼번에 다루고 싶을 때 어떻게 해야할까?

> Q3. 컴퓨터는 문자를 어떻게 인식할까?

> Q4. 많은 데이터를 빠르게 찾아야 할때는 어떻게 저장할까?

* 위 질문에 대한 대답을 data type을 배우면서 생각해봅시다.

### 1. 숫자 데이터 (Numeric Data Types)

* 숫자형 데이터란, 정수/실수/복소수/2진수/8진수/16진수를 포함하며 가장 많이 사용하는 데이터 타입중에 하나다.


* 파이썬은 숫자의 표현 범위가 무한대이다.


* 숫자 데이터는 우리가 알고 있는 대부분의 연산을 그대로 지원한다. 사칙연산, 나머지 구하기, 몫 구하기, 거듭제곱 등

### 정수형 (Integer)

In [4]:
1+1

2

In [5]:
# a에 10, b에 5를 할당하고, a와 b를 더한 결과를 출력합니다.
a= 10
b =5
a+b

15

In [6]:
a - b

5

In [7]:
type(a-b)

int

### 실수형 (Floating point)

In [8]:
c = 3.14
c

3.14

In [9]:
c + 3.14

6.28

In [11]:
# d에 4를 할당하고 c에서 d를 뺀 값을 출력합니다.
d=4
print(c-d)   # -0.86 why? 2진수가 아닌 표현은 정확하게 표현할 수 없다.

3.0400000000000005

In [13]:
# 1.34 x 10^6을 의미한다.
e = 1.34E6; e2 = 1.34e-3   #1.34 x 10^(-3)
e, e2

(1340000.0, 0.00134)

### 숫자형 데이터 타입이 제공하는 여러 연산자

#### 사칙연산

In [16]:
# a에 10, b에 3을 할당하고 a와 b의 사칙연산 결과를 출력합니다. 이번에는 출력할때 print 함수를 사용합니다.
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

In [17]:
# a에 10.3, b에 -1.6을 할당하고 사칙연산 결과를 출력합니다.
a =10.3

b= -1.6

a-b

11.9

#### 특수연산

In [ ]:
c = 5
d = 2
print(c ** d) # c를 d번 곱한 것. c^d
print(c // d) # c를 d로 나눈 몫.
print(c % d)  # c를 d로 나눈 나머지.

**Q. 어떤 연도를 N이라고 할 때,  N이 윤년인지 아닌지 알아보는 방법은 무엇일까?**

*A. 윤년 규칙. N이 4의 배수이면서, 100의 배수가 아니거나 400의 배수면 윤년이다.*

In [18]:
a = int(input())

if a%400 ==0 :
    print('윤년')

2000
윤년

### 2. 문자열(String)

* 문자열 데이터란, 문자(character)의 나열을 의미한다. e.g. "Hello world"
> string ; Character Sequence

* 파이썬에 다룰 수 있는 문자열의 크기도 제한이 없다.


* 파이썬에선 <kbd>'</kbd>와 <kbd>"</kbd> 두 가지의 기호를 통해 문자열을 나타낸다. 즉 ' 부터 ' 까지 또는 " 부터 " 까지 하나의 문자열이다.
e.g. 'Hello', "World"


* 컴퓨터는 문자(character)를 encoding하여 숫자로 표현한다. 알려진 예로 ASCII, utf-8, cp949가 있다.
> 컴퓨터는 문자를 숫자로 인식한다. e.g. ASCII 코드로 변환하면 A->65, a->97

* 현재 전세계적으로 웹에서 사용되는 국제 표준은 UTF-8(Universal code character set Transformation Format - 8-bit)이다.

 
**(OPTIONAL)** UTF-8에선 a는 1바이트로, '가'는 3바이트로 인식한다. 이를 가변 인코딩 방식이라고 하며, 영어보다 한글이 더 많은 데이터를 필요로 한다.

### 문자열을 만드는 여러가지 방법

In [19]:
s = "Hello World"

In [20]:
s1 = "Dong Hee"

In [22]:
s2 ="""To Be Great is
To Be Misunderstood.
- Ralph Waldo Emerson
"""
print(s2) # 그냥 s2만 쓰면 어떻게 될까?

To Be Great is
To Be Misunderstood.
- Ralph Waldo Emerson

In [24]:
# 왜 파이썬은 ""와 ''를 모두 제공할까요?
# 아래 s3와 s4를 문자열로 만들어서 출력해봅시다. 
s3 = "I'm a boy."
s3

"I'm a boy."

### 특수 문자 표현 (escape code) 익히기

In [26]:
# \n -> new line
"Hello\n"
print("Hello\nWorld")

Hello
World

In [27]:
# \t -> tab
print("Hello\tWorld")

Hello	World

### 문자열 연산하기

> 문자열의 사칙연산은 어떻게 정의될까? 숫자에선 당연했지만, 문자열의 더하기, 곱하기는 어떻게 정의되는지 잘 생각해보자.

In [28]:
s = "Hello" 
s1 = "World"
# Q. 가운데 빈 칸을 넣고 싶을 땐 어떻게 해야할까?
s + " " + s1 #string concatenation

'Hello World'

In [30]:
s2 = "I'm good "
s2 * 10

"I'm good I'm good I'm good I'm good I'm good I'm good I'm good I'm good I'm good I'm good "

In [31]:
s3 = "Enjoy your life."
len(s3)
# 문자열의 길이를 출력하는 함수 len() 을 통해 s3의 문자 갯수(문자열 길이)를 알아보자.

16

### 문자열 Formatting

- 문자열을 출력할 때(print 함수를 이용하여) 특정 format을 지정하고 싶은 경우에는 어떻게 해야할까?

e.g. OOO님의 주민등록번호는 XXXXXXX-XXXXXXX입니다.

- 문자열 포맷에는 크게 3가지가 있다. (기호에 맞게 사용하면 됩니다)



"사과는 4개있다."



1) print format 사용

> print("%s는 %d개 있다." % ("사과", 4))

2) str.format 함수 사용

> print("{}는 {}개 있다.".format("사과", 4))

3) f-string (**)

> apple = "사과", count = 4

> print(f"{apple}는 {count}개 있다.")

In [32]:
fruit = "사과"; count = 4

In [36]:
# 1) print formatting
print("%s는 %d개있다."%(fruit,count))

사과는 4개있다.

In [38]:
# 2) str.format
print("{}는 {}개있다.".format(fruit,count))

사과는 4개있다.

In [39]:
# 3) f-string
print(f"{fruit}는 {count}개 있다.")

사과는 4개 있다.

**Q. 개인정보를 사용자로부터 입력받아, 주민등록등본을 출력해주는 키오스크(Kiosk)용 프로그램을 제작하려고 한다. 입력받은 이름을 name이라는 변수에, 주민번호 앞자리를 id라는 변수에 입력받았다면, 주민등록등본에 어떻게 출력해야 할까?**

### 문자열 관련 함수들 (**)

#### (영어) 대소문자 바꾸기 upper(), lower()

In [40]:
s = "hi"
s.upper()

'HI'

In [41]:
s = "Hi"
s.lower()

'hi'

#### 문자 공백 지우기 strip()

In [42]:
s = "h   l   i "
s.strip()

'h   l   i'

#### 문자열 삽입 join()

In [45]:
"-".join("abcd")

'a-b-c-d'

#### 문자열  나누기 split()

In [48]:
s = "Life is too short."
s.split() #괄호 안에 아무것도 안 쓰면 공백을 기준으로 잘라줍니다.
s.split("too")

['Life is ', ' short.']

#### 문자열 바꾸기 replace()

In [50]:
s = "Life is too short."
# Life를 This pencil로 바꿔봅시다.
s.replace("Life","This pencil")
s.replace(" ","")

'Lifeistooshort.'

### 3. 연속형 데이터 (Sequential Data Types)

**Q. 숫자 100개를 한번에 다루려고 한다. <=> 하나의 변수에 숫자 100개를 저장하고 싶다. 어떻게 해야할까?**

*A. 연속형 데이터 타입을 사용하자!*

* 연속형 데이터란, 하나의 변수가 하나의 데이터를 가지고 있던 숫자형 데이터와 달리, 여러개의 데이터를 하나의 변수에 가지고 있는 데이터 타입이다.


* 연속형 데이터 타입에는 리스트(List), 튜플(Tuple), 문자열(String)이 있다. (문자열을 문자들의 나열로 인식하기 때문에, 연속형 데이터이다.)


* 연속형 데이터의 크기 제한은 없다. 하지만, 사용하는 컴퓨터의 가용 메모리 용량을 인지하며 사용해야 한다.


* 각 연속형 데이터 타입마다 특징이 다르다. 그 특징을 파악하여 용도에 맞는 데이터 타입을 사용하는 것이 중요하다.

 
**(OPTIONAL)** 사전(dictionary) 타입은 associative array라고 불리며, 흔히 알고있는 Hash table 구조이다.

### 3.1 리스트(List)


* 가장 많이 사용되는 연속형 데이터 타입이자, 굉장히 유연한 구조를 가지고 있어 대부분의 데이터를 편하게 다룰 수 있다.


* 파이썬에서 <kbd>[</kbd> 와 <kbd>]</kbd>를 이용하여 표현한다. e.g. [1, 2, 3]


* 리스트의 원소는 쉼표로 구분되며, 리스트의 원소는 아무 데이터 타입이나 가능하다. 리스트조차 가능하다.


* 리스트를 이용하면 파이썬에서 다루는 대부분의 데이터는 아무 무리없이 다룰 수 있다. 하지만 수정이 자유롭기 때문에 수정을 하면 안되는 경우에는 사용하면 안된다.

### 리스트를 만드는 방법

In [52]:
# 정수 1, 2, 3을 원소로 가지는 리스트를 만듭니다.
L =[1,2,3]
L, type(L)

([1, 2, 3], list)

In [53]:
L1 = []
type(L1)

list

In [54]:
L2 = list() # 빈 리스트를 만드는 같은 방법 리스트 클래스의 객체를 생성
type(L2)

list

In [ ]:
L3 = [1, "Hi", 3.14, [1, 2, 3]] # 리스트에는 다양한 타입의 원소를 다 포함할 수 있다. 심지어 리스트도.
L3

In [55]:
L4 = [[1, 2],
     [3, 4]] # 2x2 행렬 표현처럼 사용할 수 있다. 이를 2차원 리스트라고 한다.
L4 # 실제로는 2개의 리스트를 원소로 가지는 리스트이다.

[[1, 2], [3, 4]]

### Indexing (***)

- 연속형 데이터들은 하나의 변수에 여러가지 데이터를 가지기 때문에 여러 데이터를 접근하는 방법이 필요하다.


- 이를 위해 indexing이라는 기법이 있다. 말그대로 index를 통해 접근(access)하는 방법이다.


- 리스트의 index는 맨 앞부터 0으로 시작하며, 1씩 증가하는 정수 index를 사용한다.


e.g. [1, 2, 3]이면 첫번째 원소는 index가 0이고, 두번째 원소는 index가 1이다.


- 파이썬에서는 음수 index도 제공하는데, 이는 뒤쪽부터 접근할 수 있는 방법이다.

e.g. [1, 2, 3]이면 뒤에서 첫번째(맨 마지막)원소는 index가 -1이고, 뒤에서 두번째 원소는 index가 -2이다.


- index를 통해 접근하는 방법은 해당 변수이름에 []를 사용하며, []안에 index를 넣어서 접근할 수 있다.


e.g L = [1, 2, 3]이면 L[0]은 1이고, L[2]는 L[-1]이며 3이다.

In [56]:
L = [1, 2, 3, 4, 5]
L

[1, 2, 3, 4, 5]

In [59]:
# L의 첫번째 원소
L[0]

1

In [60]:
# L의 5번째 원소
L[4]

5

In [61]:
# L에 없는 index는?
L[9]

IndexError: ignored

In [62]:
# L의 마지막 원소
L[-1]

5

In [64]:
# indexing을 이용한 연산. L의 첫번째, 두번째 원소를 가져다가 더해봅니다.
L[0] + L[1]

3

In [65]:
L2 = [1, [2, 3], 5]
L2

[1, [2, 3], 5]

In [66]:
# L2에서 2에 접근하기 위해 indexing을 해보자.
L2[1][0]

2

### Slicing (**)

**슬라이싱은 리스트에서 뿐만 아니라, 리스트와 비슷한 구조인 numpy array와 pandas series, dataframe에서도 많이 이용되니 꼭 알아두어야 한다.**

- 슬라이싱은 리스트의 일부분만 잘라낸다는 의미이다. (말그대로 슬라이싱)


- 리스트의 일부만 사용하고 싶을 때 쓰는 기법이며, indexing을 범위로 하는 느낌이다.


- 리스트의 index와 <kbd>:</kbd>를 사용하여 슬라이싱을 할 수 있다.


e.g. L = [1, 2, 3, 4]  L[0:2]는 [1, 2]이다.

In [67]:
L = [1, 2, 3, 4, 5]
L

[1, 2, 3, 4, 5]

In [69]:
# L의 첫번째부터 index2 까지 자르기
L[:2]

[1, 2]

In [73]:
# L의 두번째부터 index4 까지 자르기
L[2:4]

[3, 4]

In [74]:
# 시작 index를 생략하면, 자동으로 index는 0이 된다. (맨 처음)
L[:2]

[1, 2]

In [76]:
# 끝 index를 생략하면, 자동으로 index는(리스트의 길이)가 된다. (맨 마지막) Q. 왜 리스트의 길이일까?
L[2:len(L)]
L[2:len(L)-1] #이래서 -1로하면 끝 원소

[3, 4, 5]

> **TIP!**
> 문자열도 연속형 데이터 타입이기 때문에, indexing과 slicing이 다 된다. 하나의 문자열을 생성하여 연습해보자.

### 리스트 연산하기

> 문자열때와 마찬가지로, 리스트도 더하기, 곱하기 연산이 존재한다. 어떤 의미일지 생각해보자.

#### 리스트 더하기

In [81]:
L = [1, 2, 3]
L2 = [4, 5,6,7]
L + L2 #List concatenation

[1, 2, 3, 4, 5, 6, 7]

#### 리스트 곱하기

In [78]:
L *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트 수정하기

In [79]:
L2[0] = 7
L2

[7, 5]

In [82]:
L + L2 # 값이 바뀐게 적용이 됩니다.

L[:2] + L2[1:3]

[1, 2, 5, 6]

### 리스트 관련 함수

#### 리스트에 원소 추가하기 append() (***)

In [87]:
# 빈 리스트 L을 만들어서 3, 2, 1 순서대로 원소를 추가해봅니다.
L = list()

L.append(1)
L

[1]

#### 리스트 원소 정렬하기 sort()

In [90]:
# sort()를 이용해 L을 정렬합니다.
L = [4, 3, 16]
L.sort(reverse=True)
L

[16, 4, 3]

#### 리스트 뒤집기(정렬 X) reverse()

In [91]:
#L.reverse() # reverse()와 같은 결과를 내는 신박한 방법도 있습니다.
L[::-1]

[3, 4, 16]

#### 리스트에서 원소 제거하기 pop()

In [94]:
a= L.pop()

L

[]

### 3.2 튜플(Tuple)

- tuple은 list과 거의 같다.
> indexing, slicing 모두 동일하게 사용 가능하다.
> 원소들도 자유롭게 사용 가능하다.

- 거의 같은데, 다른 점이 딱 2가지 있다.




**1) 리스트는 []를 사용하고, 튜플은 ()을 사용한다.**

**2) 리스트는 생성 후에 변경이 가능하고(mutable) 튜플은 생성 후에 변경이 불가능하다.(immutable)**

> Mutable : 생성된 이후에 변경(assignment)이 자유롭게 가능한 data type.
e.g. List, dict, set

> immutable : 생성된 이후에 변경이 불가능한 data type
e.g. int, float, string, tuple, frozenset


> 1. 성능적인 이슈 -> 변경되지는 않는 그 자체로 장점이 생김.

> 2. 프로그래밍적인 이슈 -> 데이터 수정 자체를 하지 않는 경우 실수를 방지할 수 있다.

In [95]:
# 1, 2를 원소로 가지는 tuple을 생성해 봅니다.

In [99]:
t1 = (1,2,3,4,5)
t1, type(t1)

((1, 2, 3, 4, 5), tuple)

In [97]:
t2 = ('a', 'b', ('a', 'b'))
t2

('a', 'b', ('a', 'b'))

In [101]:
t1[0]

1

In [103]:
t1[-1]

5

In [105]:
t1[0] = 3 # 튜플의 원소를 변경해보자.

TypeError: ignored

In [106]:
# 그럼 tuple의 더하기, 곱하기는 어떻게 될까?
t = (1, 2)
t2 = (3, 4)
t +t2

(1, 2, 3, 4)

In [107]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [108]:
len(t * 3)

6

### 3.3 집합(Set)

- 집합 자료형은 정말 말그대로 수학에서 배우는 집합 그 자체이다.


- 수학에서는 집합을 {}로 표시했지만, 파이썬에서는 안타까운 이유로 {}를 사용하긴 하는데 그냥 사용할 수는 없다. 왜냐면 사전(Dictionary) 자료형도 {}를 사용하기 때문이다. 이에 대해서는 뒤에 자세히 배운다.


- 공집합을 생성할 때는 *반드시* set()으로 생성해야 한다. {}로 생성하면 빈 사전이 생성된다.


e.g. {1, 2, 3} : 집합, {'a':1, 'b':2} : 사전


- 집합의 연산자인 교집합, 합집합, 차집합을 모두 지원한다.

- 집합의 특징이 2가지 있는데, 이 특징이 리스트와의 차이점이라 사용한다. 첫번째 특징이 집합 자료형을 사용하는 주된 이유이다.

1) 집합은 원소의 중복을 허용하지 않는다. 즉, **원소의 종류**를 나타내기 좋다.

2) 집합은 원소의 순서가 존재하지 않는다. 즉, 원소의 index가 없다.

In [109]:
# 1, 2, 3을 원소로 가지는 집합을 만들어 봅시다.
s = {1,2,3}
s, type(s)

({1, 2, 3}, set)

In [112]:
s1 =set()
s1,type(s1)

(set(), set)

In [110]:
s[1] # 2가 나올것 같지만... ## indexing이 안 됨.

TypeError: ignored

### 집합의 연산

In [113]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

#### 교집합

In [114]:
# s1과 s2의 교집합
s1 & s2

{3, 4, 5}

In [115]:
s1.intersection(s2) # s1과 s2의 자리를 바꿔서 당연히 같다.

{3, 4, 5}

#### 합집합

In [116]:
# s1과 s2의 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s1 + s2 # 많이 혼동한다.

In [117]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

#### 차집합

In [118]:
# s1과 s2의 차집합
s1 -s2

{1, 2}

In [119]:
s2 - s1 # 당연히 다르다.

{6, 7}

### 집합의 원소의 uniqueness를 활용하는 경우.

In [123]:
#리스트 L에 있는 서로 다른 원소의 개수는?
L = [1,1,2,3,3,4,54,5,6,67,78,8,9,1]
len(set(L)) #type conversion

11

### 집합 관련 함수

#### 집합에 원소 하나 추가하기 add()

In [125]:
s = set()
s.add(2)
s

{2}

#### 집합에 여러 원소 추가하기 update()

In [127]:
s = {1, 2, 3}
s.update({4, 5}) #sequence 가능( list,tuple...)
s

{1, 2, 3, 4, 5}

#### 집합에서 원소 제거하기 remove()

In [128]:
s.remove(3)
s

{1, 2, 4, 5}

### 4. 사전(Dictionary) (**)



**파이썬에서 리스트와 함께 굉장히 많이 사용되는 구조. 특히 이번 교육과정 중에 많이 사용되니 꼭 마스터하는 것을 추천한다.**


- 파이썬에서 제공하는 사전 자료형은 key - value 방법을 통해 저장한다.

| name | code |
| --- | --- |
| "John" | 0011 |
| "Maria" | 1234 |


- 이런 table concept을 의미하며, 정수 index가 아닌 key값을 통해서 value를 access한다.

> key-value 방식으로 저장을 하는 것으로 얻는 이점은?

> A. 순서가 아닌 의미가 있는 값을 통해서 데이터 접근이 가능하다.

- 같은 말로 Hash Table이라고 불리며 데이터 관리에서 굉장히 중요한 개념이다.


- 파이썬에서 사전 자료형은 {}을 이용하여 표현하는데, 집합과의 차이점을 두기 위해 원소에 *반드시* <kbd>:</kbd>가 들어가야 한다.


- 사전을 표현할 때는 {key : value, key2 : value2, ... } 형태로 표현한다.

e.g. {'a' : 1', "b" : 3}

### 사전을 만드는 방법

In [129]:
D = {"major": "CSE", "name":"Dong Hee"}

In [133]:
# 위에 나온 테이블 예시를 사전으로 만들어봅니다.
D = {"Jhon":"0011","Maria":"1234"}
D

{'Jhon': '0011', 'Maria': '1234'}

In [134]:
# 사전 D에 key가 'a'이고 value가 3인 원소를 추가하자.
# 만약에 indexing하려는 key가 존재하지 않는 경우엔, assign을 하게 되면 key-value pair가 추가됩니다.
# 아닌 경우에는 assign 하게되면 value가 없데이트 됩니다.
D['a'] = 3
D

{'Jhon': '0011', 'Maria': '1234', 'a': 3}

In [ ]:
D["a"] # key값이 이미 존재하는 경우에는 key값을 통한 indexing이 되며, key값이 존재하지 않을 때는 assignment를 사용하여 원소를 추가한다.

In [135]:
D2 = {'a' : 1 , 'a' : 2, 'b': 3} # 무엇이 문제일까? - key는 unique
# key가 될 수 있는 data type은 int, float, str, tuple ..
D2

{'a': 2, 'b': 3}

> **TIP** 사전을 만들 때 key는 중복이 있으면 절대 안된다.

> 사전에서 key가 될 수 있는 data type은 **immutable**이어야 한다.

### 사전 관련 함수

#### 사전의 모든 key값들 보기 keys()

In [136]:
D = {'name': 'kim', 'phone': '01012345679', 'birth': '1234'}
D.keys()

dict_keys(['name', 'phone', 'birth'])

#### 사전의 모든 value들 보기 values()

In [137]:
D.values()

dict_values(['kim', '01012345679', '1234'])

#### 사전의 모든 key, value 쌍 보기 items()

In [141]:
D.items()  #list아님

dict_items([('name', 'kim'), ('phone', '01012345679'), ('birth', '1234')])

#### 사전의 원소 가져오기 get()

In [144]:
# D['name']과 같다. 
D.get("surname","Lee") # get 함수를 사용하면, default 값을 지정할 수 있다. ('Lee')

'Lee'

In [148]:
D

{'birth': '1234', 'name': 'kim', 'phone': '01012345679'}

### Sequence에 해당 데이터가 존재하는지 확인하기 : `in` operator


- in이라는 operator는 모든 연속형 데이터 타입에 사용할 수 있다.


- 사전의 경우에는 key값을 대상으로 하고, 리스트, 튜플, 집합, 문자열에 대해서는 해당 원소가 존재하는지 찾아서 True / False 를 알려준다.

In [147]:
"name" in D #key값만 조회

False

In [146]:
"major" in D

False

In [ ]:
# 리스트, 튜플, 집합에서도 테스트